/* Stats Section */
.stats {
  text-align: center;
  padding: var(--spacing-l) var(--spacing-m);
  background-color: var(--colour-primary);
  border-radius: var(--border-radius);
  color: var(--colour-primary-tint);
}

.stats__title {
  font-size: var(--font-size-heading-m);
}
