.container {
  border: 10px solid #036;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
  height: 100px;
  background: #f90;
  border-radius: 50%;

  /* these three styles centre the text in the logo */
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  list-style: none;
  margin: 0;

  /* this places the nav items on the same row */
  display: flex;
}
.nav-item {
  margin: 2px;
  padding: 10px;
  background: rgba(255 128 0 / 0.2);
}