* {
    box-sizing: border-box;
}

header,
footer {
    margin-bottom: 2.5%;
    padding: 1% 5%;
    background: #efefef;
    border: 1px solid lightgray;
    text-align: center;
}

article,
aside {
    margin-bottom: 2.5%;
    padding: 5%;
    border: 1px solid lightgray;
    text-align: center;
}
aside {
    background: #ddd;
}

@media (min-width: 900px) {
    main {
        display: flex;
    }
    article {
        flex: 4;
    }
    aside {
        flex: 1;
    }
}

/* planets */

.planets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* planets */

.planet {
    width: 50%;
    padding: 20px;
}

@media (min-width: 1200px) {
    .planet {
        width: 25%;
    }
}

.planet-link {
    color: #000;
}

.planet-link:hover {
    color: #999;
}

.planet-image {
    width: 100%;
    margin-bottom: 5px;
}

.planet-name {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.planet-details {
    font-style: italic;
    font-size: 12px;
    margin: 0;
}

