html {
  background: #efefef;
  height: 100%;
}

body {
  font-family: Georgia, sans-serif;
  line-height: 1.5;
  max-width: 600px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.status {
  font-size: 20px;
  font-style: italic;
  color: orange;
}
